* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  border: 15px solid rgb(120, 163, 163, 0.1);
  border-radius: 35px;
  width: 700px;
  margin: 0 auto;
}

.h2 {
  margin-bottom: 20px;
  margin-top: 30px;
  font-size: 38px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.container {
  display: flex;
  justify-content: space-between;
}

.titlePost,
.textPost {
  width: 250px;
  height: 50px;
  border-left: none;
  border-top: none;
  border-right: none;
  border-color: rgb(236, 232, 213);
  font-size: 18px;
  padding-left: 13px;
}

.btn {
  width: 150px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  background-color: rgba(68, 11, 226, 0.178);
}

.postText {
  margin: 50px 40px 50px 40px;
}

.h3 {
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
  padding-left: 10px;
}

.p {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  padding-left: 10px;
}

.containerDiv {
  border: 2px solid rgba(68, 11, 226, 0.178);
  background-color: rgb(120, 163, 163, 0.1);
  border-radius: 10px;
  margin: 20px;
}
